.dashboard{
    position: relative;
    width: 100%;
    max-width: 1470px;
}

.dashboard img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
}

.overlay {
    position: absolute;    
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%); 
    text-align: center;      
    color: rgba(43, 43, 247, 0.563);
}

.overlay h1{
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 100px;
}

.overlay p{
    font-family: "Momo Signature";
    position: absolute;
    top: 75%;
    left: 25%;
    color: white;
}

.InputDiv{
    display: flex;
    justify-content: center;
}

.City-Name{
    width: 500px;
    height: 50px;
    margin-top: 30px;
    font-size: 24px;
    padding-left: 19px;
    border-radius: 10px;
    border-width: 3px;
}

.check-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.check-div button{
    font-size: 24px;
    font-weight: 700;
    font-family: "Stack Sans Notch", sans-serif;
    padding: 7px 14px 7px 14px;
    background-color: rgb(161, 255, 95);
    border: transparent;
    border-radius: 5px;
    color: rgb(81, 8, 165);
    cursor: pointer;
}

.check-div button:active{
    box-shadow: 3px 3px 10px rgba(90, 87, 87, 0.341);
}

.Result-Grid{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    /* width: 1400px; */
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    gap: 15px;
    justify-content: center; 
}

.SinglePlaceData{
    font-family: "Momo Trust Display", sans-serif;
    padding: 20px;
    padding-top: 8px;
    background-color: rgba(5, 251, 255, 0.252);
    width: 100%;
    max-width: 290px;
    border-radius: 28px;
}

.ContainerButtons{
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.ContainerButtons button{
    font-family:"Stack Sans Notch", sans-serif ;
    padding: 4px 8px 4px 8px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.ContainerButtons button:active{
    box-shadow: 3px 3px 5px rgba(90, 87, 87, 0.341);
}

.Refresh-Button{
    background-color: rgba(153, 255, 0, 0.533);
    border:2px solid rgba(0, 0, 255, 0.614);
}

.Delete-Button{
    background-color: rgba(255, 0, 0, 0.63);
    border:2px solid rgba(0, 0, 255, 0.614);
}